fastapi==0.111.0
uvicorn==0.30.1
langgraph==0.0.58
langchain-core==0.2.11
openai==1.35.3
pytz==2024.1
tenacity==8.5.0
pydantic==2.8.2
python-dotenv==1.0.1
pillow==10.4.0
langchain_community
sentence_transformers
faiss-cpu
fpdf
psycopg2-binary
streamlit
 openai